/*header*/
.header .info{
    padding-top: 63px; 
}
.header .fa-envelope{
    padding-left: 30px;
    color: red;
}
.header .fa-phone{
    color: red;
}
.header .navbar-bot{
    background-color: transparent;
    position: absolute;
}
.header .navbar-bot ul li a{
    color: white;
    font-weight: bold;
}
.header .navbar-bot .line{
    border: 2px solid red;
}

/*akhir header*/